// Specific CSS for your home-page
.home-wrapper {
  height: 900px;
}

.min-height-content {
  min-height: calc(100vh - 80px);
  background-position: -100px;
  // background-color: white !important;
}
