// Import page-specific CSS files here.
@import "home";
@import "../items/_index";

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.30;
}

.container-size {
  height: 100vh;
}
