<div class="bg-dark user-dash">

  <div class="container text-align">
    <h1>My bookings</h1>

  </div>
  <div class="container">
    <% current_user.bookings.each do |booking| %>

    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>
      <%#= image_tag booking.item.profile, class: "product-image hidden-xs" %>
      <div class='product-body'>
        <h3><%= booking.item.title %></h3>
        <p><%= booking.state %> | <%= booking.start_date %> to <%= booking.end_date %></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
    <% end %>

  </div>

</div>
