<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner-image.jpg'%>);">
  <div class="banner-content">
    <h1>The Luxury Leasing Co.</h1>
    <h4>Rent Luxury sports cars, jets, Yachts and more... </h4>
    <button type="submit" class="banner-btn"><%= link_to "Luxury items", items_path %></button>
    <button type="submit" class="banner-btn"><%= link_to "Host an item", new_item_path %></button>

    <div id="login-modal" class="modal">
      <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
      </div>
    </div>

  </div>
</div>


        <!-- <form class="form-inline">
          <label class="sr-only" for="inlineFormInput">Where</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Where">

          <label class="sr-only" for="inlineFormInputGroup">Start Date</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>
            <input type="text" class="form-control input-start" id="inlineFormInputGroup" placeholder="Start Date">
          </div>

          <label class="sr-only" for="inlineFormInputGroup">End Date</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>
            <input type="text" class="form-control input-start" id="inlineFormInputGroup" placeholder="End Date">
          </div>

          <label class="sr-only" for="inlineFormInput">Vehicle</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Vehicle">

          <button type="submit" class="btn btn-danger mb-2">Submit</button>
        </form> -->
