
#map {
  width: 100%;
  height: 500px;
  position: sticky !important;
  top: 0 !important;
}


.banner-index {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.srch-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
  input {
    color: #f2f2f2;
  }
}

.lol {
  background-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.fa-search {
  margin-left: -25px;
  color: rgba(255, 255, 255, 0.8)
}

.space {
  height: 50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    font-size: 17px;
  }
}
