.show-links a {
  color: black;
}

.show-title {
  // margin-left: 50px;
  h1 {
    margin-top: 0;
  }
  margin-right: 12px;
  margin-bottom: 50px;
}

.show-container {
  // margin-left: 64px;
  // margin-right: 64px;
  display: flex;
  // justify-content: space-around;
  // align-items: center;
  // height: 200px;
}

.show-content {
  padding: 0px 50px 0px 50px;
  flex: 0 0 60%;
  // margin-right: 30px;
}

.show-rating-booking {
  display: flex;
  justify-content: center;
  h5 {
    padding: 16px;
  }
}

.show-booking-title  {
  text-align: center;
}

.input-active {
  background-color: white;
  label {
    font-weight: lighter !important;
  }
}

.show-booking {
  position: sticky;
  top: 0;
}

#booking_number_of_people {
  width: 100% !important;
}

#booking_start_date {
  width: 100% !important;
}

#booking_end_date {
  width: 100% !important;
}


.show-booking-form {
  background-color: #fff;
  padding: 30px;
}

.show-reviews {
  // margin-left: 80px;
  margin-bottom: 50px;
  p {
    margin-bottom: 30px;
    margin-left: 60px;
    color: #444444;
    }
}
.card-image {
  background-size: cover;
}
.review_avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review_item {
  display: flex;
  flex-direction: row;
}

.review-content{
  position: relative;
  background-color: #e5e5e5;
  margin: 8px 24px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.show-links {
  margin-left: 80px;
  margin-bottom: 100px;
}

.arber {
 margin-left: 15px;
}

.show-box {
  display: flex;
}

.show-left {
  flex: 1;
}

.show-right {
  flex: 0 0 40%;
  margin-bottom: 40px;
}

.show-box {
  margin-top: 30px;
}

