<% @items.each do |item| %>
  <%= link_to item.title, item_path(item)  %>
  <%= link_to "Book", new_item_booking_path(item) %>
  <%= link_to "Review", new_item_review_path(item)%>
<% end %>
<%= javascript_pack_tag "map" %>


<div class="container">
  <div class="row">
    <!-- Iterate over each luxury item -->
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('https://source.unsplash.com/360x175?cocktail');">
        <div class="card-category">
          <!-- Item.title -->
          <h3> A Luxury item</h3>
        </div>
        <div class="card-description">
          <!-- Item.description -->
          <h5> A luxury description</h5>
        </div>
        <div class="card-rating">
          <!-- Item.rating -->
          <p><i class="far fa-star"></i></p>
        </div>
        <div class="card-location">
          <!-- Item.location -->
          <p><i class="fas fa-map-marker"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
