.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}
.banner h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

.banner h4 {
  padding-bottom: 10px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-show {
  height: 50vh !important;
}


.form-control {
  width: 200px !important;
  padding: 10px !important;
  font-size: 16px !important;
}

.input-start {
  width: 150px !important;
  padding: 10px !important;
}

.banner-login {
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  margin-top: -70px;
}

