<% @user.items.each do |item| %>
  <%= item.name %>
  <% item.bookings.each do |booking| %>
    <%= booking.start_date %>
    <%= booking.end_date %>
    <% if @user.id == current_user.id %>
      <h1>buttons here</h1>
    <% end %>
  <% end %>
<% end %>
