.login-container{
  padding: 100px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.login-container a{
  color: #2E2E2E;
}

.form-inputs {
  padding: 32px;
  border: 1px solid #2c2c2c;
  background-color: #f9f8d6;
  opacity: 0.9;
  box-shadow: 2px 3px;
}

.form-check-label {
  margin-left: 10px;
}


