.login-container{
  padding: 100px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  letter-spacing: 0.7px;
  font-weight: lighter;
}

.login-container a {
  color: white;
}

.form-inputs {
  padding: 32px;
  border: 1px solid #2c2c2c;
  background-color: #2E2E2E;
  opacity: 0.9;
}

.form-check-label {
  margin-left: 10px;
}


